html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GENERAL */
html {
  background-color: #edf2f4;
  font-size: 62.5%;
}

img {
  width: 100%;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

/* stripping styles */
h1, 
p,
li, 
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* fonts */
li, 
p,
a, label, 
input[type=checkbox] {
  font-family: 'Roboto', sans-serif;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 11vh;
}

/* logo and tagline */
.logoHeading {
  font-family: 'Bungee Shade', cursive;
  font-size: 4.1rem;
}

.tagline {
  font-family: 'Oxygen Mono', monospace;
  font-size: 2.1rem;
  padding-left: 40px;
  padding-top: 5px;
  font-style: italic;
  color: #2b2d42;
}

.logoHeading,
.fa-shopping-cart {
  color: #d90429;
}

/* cart icon */
.cartContainer {
  width: 52px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.cartNum {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 17px;
  height: 15px;
  font-size: 1.3rem;
  color: #edf2f4;
  background-color: #ef233c;
  text-align: center;
}

.fa-shopping-cart {
  font-size: 3rem;
  text-align: center;
}

/* MAIN */
main {
  min-height: 80vh;
  height: 100%;
  display: flex;
  padding-bottom: 50px;
}

/* product categories */
.categoryCol {
  width: 15vw;
}

/* product category column */
.itemGridCol {
  margin-left: 5px;
  width: 100%;
}

.categoryHeading {
  color: #edf2f4;
  background-color: #2b2d42;
  padding: 10px 0;
  border: 1px solid #8d99ae;
  font-size: 2.3rem;
}

.categoryHeading, 
.productCategory {
  padding-left: 5px;
}

.productCategory {
  color: #ef233c;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 20px 0;
  
  background: #edf2f4;
  font-size: 2.1rem;
  border-bottom: 1px solid #ef233c;
  cursor: pointer;
  
}

.productCategory:hover {
  font-weight: 700;
  border-bottom: 3px solid #ef233c;
}

/* item grid menu */
.itemGridMenu {
  background-color:#8d99ae;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 5px;
  font-size: 1.6rem;
}

.itemGridMenu,
.categoryHeading {
  height: 50px;
}

.productResults {
  width: 175px;
  /* border: 1px solid red; */
}

.itemGridMenu label {
  margin-left: 5px;
}

.onSaleCheck {
  height: 15px;
  width: 15px;
}

/* grid container */
.gridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/* product items */
.itemContainer {
  height: 275px;
  width: 200px;
  border: 1px solid #ef233c;

  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.itemContainer,
.itemGridMenu {
  margin-left: 20px;
}

.itemContainer img {
  border-bottom: 1px solid red;
}

.itemName,
.itemPrice {
  padding: 0 10px;
}

.itemName {
  text-align: left;
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.itemPrice {
  font-size: 3.2rem;
}

/* back to top button */
.fa-arrow-alt-circle-up {
  height: 88px;
  width: 70px;
  font-size: 4.3rem;
  color: #d90429;
  position: fixed;
  bottom: 70px;
  right: 0;
  margin-right: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */
footer {
  background-color: #d90429;
  color: #edf2f4;
  height: 9vh;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.9rem;
  padding: 10px 5px; 
}