html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GENERAL */
/* variables */
:root {
	/* colors */
	--darkBlue: #2b2d42;
	--lightBlue: #8d99ae;
	--mainWhite: #edf2f4;
	--darkRed: #d90429;
	--lightRed: #ef233c;

	/* text */
	--mainText: 'Roboto', sans-serif;
	--logoHeading: 'Bungee Shade', cursive;
	--taglineText: 'Oxygen Mono', monospace;
}

html {
	background-color: var(--mainWhite);
	font-size: 62.5%;
}

img {
	width: 100%;
}

.wrapper {
	width: 90%;
	max-width: 1600px;
	margin: 0 auto;
}

/* stripping styles */
h1, 
p,
li, 
ul,
a {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style-type: none;
}

/* fonts */
li, 
p,
a, label, 
input[type=checkbox] {
	font-family: var(--mainText);
}

/* HEADER */
header {
	background-color: var(--lightBlue);
	position: sticky;
	top: 0;
	z-index: 1;
}

.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	min-height: 11vh;
	padding-bottom: 25px;
}

/* logo and tagline */
.logoContainer,
.logoLink {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.logoImg {
	height: 90px;
	width: 90px;
}

.logoHeading {
	font-family: var(--logoHeading);
	font-size: 3.5rem;
}

.tagline {
	font-family: var(--taglineText);
	font-size: 1.9rem;
	padding-left: 30px;
	font-weight: 700;
	color: var(--darkBlue);
}

.logoHeading,
.fa-shopping-cart {
	color: var(--darkRed);
}

.fa-shopping-cart {
	padding-right: 7px;
}

.headerBtn {
	color: var(--darkBlue);
	font-size: 2.1rem;
	text-transform: uppercase;
	padding: 1rem;
	border: 2px solid var(--darkBlue);
	background-color: var(--darkBlue);
	color: var(--lightRed)	;
	font-family: var(--taglineText);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	font-weight: 700;
}

.headerBtn:hover {
	color: var(--mainWhite);
}

.cartNum {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 17px;
	height: 15px;
	font-size: 1.3rem;
	color: var(--mainWhite);
	background-color: var(--lightRed);
	text-align: center;
}

/* MAIN */
main {
	min-height: 80vh;
	height: 100%;
	display: flex;
	padding-bottom: 50px;
}

/* product inventory */
.itemGridCol {
	margin-left: 5px;
	width: 100%;
	display: flex;
}

/* grid container */
.gridContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* product categories */
.categoryNav {
	min-width: 15vw;
}

/* title component */
.itemTitleHeading {
	font-size: 2.9rem;
	font-weight: 700;
	color: var(--lightRed);
}

.categoryHeading {
	color: var(--mainWhite);
	background-color: var(--darkBlue);
	padding: 10px 0;
	border: 1px solid var(--lightBlue);
	font-size: 2.3rem;
}

.categoryHeading, 
.productCategory {
	padding-left: 5px;
}

.productCategory {
	color: var(--lightRed);
	height: 50px;
	display: flex;
	align-items: center;
	margin: 20px 0;
	
	background: var(--mainWhite);
	font-size: 2.1rem;
	border-bottom: 1px solid var(--lightRed);
	cursor: pointer;
}

.productCategory:hover {
	font-weight: 700;
	border-bottom: 3px solid;
}

/* item grid menu */
.itemGridMenu {
	background-color: var(--lightBlue);
	display: flex;
	align-items: center;
	padding: 0 10px;
	margin-bottom: 5px;
	font-size: 1.6rem;
}

.itemGridMenu,
.categoryHeading {
	height: 50px;
}

.productResults {
	width: 175px;
}

.itemGridMenu label {
	margin-left: 5px;
}

.onSaleCheck {
	height: 15px;
	width: 15px;
}

/* product items */
.itemContainer {
	width: 300px;
	border: 1.4px solid var(--lightRed);

	display: flex;
	flex-direction: column;
}

.itemContainer,
.categoryNav {
	margin-top: 10px;
}

.itemContainer,
.itemGridMenu {
	margin-left: 20px;
}

.itemContainer img {
	border-bottom: 2px solid var(--lightRed);
	height: 250px;
	object-fit: cover;
}

.itemTextContainer {
	padding: 10px;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}

.itemName {
	text-align: left;
	font-size: 1.9rem;
	margin-bottom: 10px;
	font-weight: 700;
}

.itemDescription {
	font-size: 1.5rem;
	padding-bottom: 40px;
}

.itemPrice,
.addCartBtn {
	margin: 5px 10px;
	position: absolute;
	bottom: 0;
}

.itemPrice {
	font-size: 3.2rem;
	right: 0;
}

.addCartBtn {
	width: 120px;
	height: 35px;  
	left: 0;
	border: none;
	background-color: var(--darkRed);
	color: var(--mainWhite);
	font-size: 1.4rem;
	font-weight: 700;
	cursor: pointer;
}

.fa-cart-plus {
	font-size: 1.7rem;
	padding-right: 5px;
}

.cartDisplay {
	background-color: var(--lightBlue);
}


/* back to top button */
.fa-arrow-alt-circle-up {
	height: 88px;
	width: 70px;
	font-size: 4.3rem;
	color: var(--darkRed);
	position: fixed;
	bottom: 70px;
	right: 0;
	margin-right: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* footer */
footer {
	background-color: var(--darkRed);
	color: var(--mainWhite);
	height: 9vh;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	line-height: 1.9rem;
	padding: 10px 5px; 
}